@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  @apply bg-slate-100 text-slate-900;
}
html.dark {
  @apply bg-slate-900 text-slate-100;
}

.header-link {
  @apply text-slate-700 dark:text-slate-300 hover:text-blue-600 dark:hover:text-slate-50 transition-colors rounded-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500;
}

.mobile-link {
  @apply text-slate-700 dark:text-sky-100 hover:text-blue-600 transition-colors py-2 w-full text-center rounded-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-500;
}

.text-primary {
  @apply text-slate-800 dark:text-sky-100;
}

.text-heading {
  @apply text-4xl text-center font-bold text-gray-900 dark:text-sky-50;
}
.text-subhead {
  @apply text-lg text-center text-gray-700 dark:text-gray-300 mt-2 mb-12;
}
